*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
}
.hidden {
	display: none;
}
.carousel img {
	width: 100%;
	height: auto;
}
.parallax {
	background-attachment: fixed;
	background-position: 50% 0;
	position: relative;
}


header {
	background-image: url(../img/background.jpg);
	background-repeat: repeat-x;
	background-position: top center;
	min-height: 642px;
	position: relative;
	font-family: "BebasBold";
}

header a {
	color: #fff;
}

.top_line {
	min-height: 97px;
	box-shadow: rgba(255,255,255,.3) 0 0 0 1px;
	-webkit-box-shadow: rgba(255,255,255,.3) 0 0 0 1px;
	
	
	width: 100%;
	background-color: rgba(0,0,0,.60);
	padding: 22px 0;
}

.top_line a {
	font-size: 21px;
	border-bottom: 1px dashed #fff;
}
.top_line a:hover {
	border-bottom: transparent 1px dashed;
	transition: all .50s;
}

.top_adress {
	padding-left: 50px;
	background-image: url(../img/top_map.png);
	background-repeat: no-repeat;
	background-position: left top;
	line-height: 30px;
}

.top_adress strong {
	color: #d12f22;
	text-transform: uppercase;
	font-size: 32px;
	display: block;
	font-weight: normal;
}

.top_line .logo {
	border-bottom: medium none;
	position: absolute;
	margin-top: -18px;
}
.top_line .logo:hover {
	border-bottom: none;
}


.logo_wrap {
	position: relative;
	width: 240px;
	margin: auto;
}

.ta_right {
	background-image: none;
	padding-left: 0;
	text-align: right;
}

.ta_right span {
	color: #fff;
	word-spacing: 1px;
}

header h1 {
	text-align: center;
	color: #fff;
	margin-top: 55px;
	font-size: 40px;
	text-shadow: rgba(0,0,0,.55) 0 3px;
	font-family: "BebasRegular";
}

.button {
	display: inline-block;
	background-color: #D12f22;
	height: 50px;
	vertical-align: middle;
	line-height: 50px;
	padding: 0 25px;
	font-size: 20px;
	border-bottom: #AC160A 4px solid;
	color: #fff;
	font-family: "BebasBold";
}

.button:hover {
	background-color: #e64437;
}
.button:active {
	background-color: #b81609;
}

header .button {
	margin-right: 20px;
}

.st_button {
	line-height: 18px;
	padding-top: 7px;
	text-align: left;
	padding-left: 63px;
	background-image: url(../img/camera.png);
	background-repeat: no-repeat;
	background-position: 8px 8px;
}

.buttons_top {
	position: absolute;
	width: 100%;
	bottom: 32px;
}


.top_mnu {
	height: 62px;
	background-color: #242424;
	box-shadow: rgba(255,255,255,.3) 0 0 0 1px;
	-webkit-box-shadow: rgba(255,255,255,.3) 0 0 0 1px;
	font-family: "BebasRegular";
	text-transform: uppercase;
}

.top_mnu li.active a,
.top_mnu li:hover a {
	background-color: #050505;
}


.top_mnu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.top_mnu li {
	float:left;
}

.top_mnu a {
	color: #ffffff;
	font-size: 20px;
	padding: 0 26px 0 50px;
	display: block;
	line-height: 62px;
	border-left: 1px solid #3b3b3b;
	background-image: url(../img/top_mnu_iconset.png);
	background-repeat: no-repeat;
	background-position: 15px 16px;
}


.top_mnu li:nth-child(2) a {
	background-position: 15px -63px;
}

.top_mnu li:nth-child(3) a {
	background-position: 20px -132px;
}

.top_mnu li:nth-child(4) a {
	background-position: 14px -195px;
}

.top_mnu li:nth-child(5) a {
	background-position: 12px -285px;
}

.top_mnu li:nth-child(6) a {
	background-position: 16px -392px;
}


.waranty {
	float: right;
	cursor: default;
	color: #fff;
	font-size: 15px;
	border: 3px solid #fff;
	border-radius: 3px;
	padding: 3px 5px;
	line-height: 16px;
	margin-top: 9px;
}
.w_left,
.w_right {
	display: inline-block;
	vertical-align: top;
}

.w_left {
	font-family: "BebasBold";
	font-size: 22px;
	margin-top: 9px;
	margin-right: 7px;
}
.w_left span {
	font-size: 33px;
	font-family: "BebasBold";
}

.w_right {
	font-family: "RobotoCondensedRegular";
}


.main_cats {
	background-color: #191919;
	padding: 20px 0 40px;
}

.main_cats h2,
.art_header{
	text-transform: uppercase;
	color: #c9c9c9;
	font-family: "BebasRegular";
	font-size: 40px;
	text-align: center;
}

.main_cats h2 strong {
	color: #fff;
}
.main_cats h2 span {
	color: #d12f22;
}

section h2,
article h2 {
	position: relative;
}

.s_black h2::before {
	content: "";
	position: absolute;
	width: 50px;
	height: 20px;
	background-image: url(../img/section_line.png);
	top: 18px;
    margin-left: -68px;
}

.s_black h2::after {
	content: "";
	position: absolute;
	width: 50px;
	height: 20px;
	background-image: url(../img/section_line.png);
	background-position: -50px 0;
	top: 18px;
    margin-left: 20px;
}
article h2.art_header::before {
	content: "";
	position: absolute;
	width: 50px;
	height: 20px;
	background-image: url(../img/art_header.png);
	top: 18px;
    margin-left: -68px;
}

article h2.art_header::after {
	content: "";
	position: absolute;
	width: 50px;
	height: 20px;
	background-image: url(../img/art_header.png);
	background-position: -50px 0;
	top: 18px;
    margin-left: 20px;
}




.mc_item {
	border: 1px solid #353535;
	border-radius: 2px;

}

.mc_item_wrap {
	margin-left: 30px;
	width: 160px;
	display: inline-block;
	text-align: center;
}

.mc_item_wrap:nth-child(1) {
	margin-left: 0;
}

.mc_item_wrap a {
	color: #fff;
}


.mc_wrap {
	text-align: center;
	padding: 0;
	position: relative;
}
.mc_item span {
	width: 130px;
	height: 85px;
	display: block;
	background-image: url(../img/cuts_iconset.png);
	background-position: ;
	margin: 15px auto 0px;
}

.mc_item_wrap:nth-child(1) span {
	background-position: 12px 0;
}

.mc_item_wrap:nth-child(2) span {
	background-position: -120px 0;
}

.mc_item_wrap:nth-child(3) span {
	background-position: -255px 0;
}

.mc_item_wrap:nth-child(4) span {
	background-position: -390px 0;
}

.mc_item_wrap:nth-child(5) span {
	background-position: -525px 0;
}

.mc_item_wrap:nth-child(6) span {
	background-position: -653px 0;
}

.mc_item h4 {
	font-family: "BebasBold";
	font-weight: normal;
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 7px;
}

.mc_item a:hover h4,
.mc_item_wrap.active h4{
	text-decoration: underline;

}

.mc_item_wrap.active,
.mc_item_wrap:hover {
	background-color: #2a2a2a;
}


.mc_toggle {
	background-color: #212121;
	height: 25px;
	position: relative;
	cursor: pointer;
	background-image: url(../img/arrow.png);
	background-repeat: no-repeat;
	background-position: 72px 10px;

}

.mc_item_wrap.active .mc_toggle,
.mc_item_wrap:hover .mc_toggle {
	background-color: #252525;
	background-position: -118px 10px;
}


body .mc_wrap .mc_item_wrap > ul {
	position: absolute;
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;	
	background-color:#353535;
	margin-top: 25px;
	padding: 15px 0;
	z-index: 10;
	display: none;
	left: 0;
}



.mc_item_wrap.active > ul li {
	display:inline-block;
	font-family: "BebasRegular";
	font-size: 20px;

}

.mc_item_wrap.active > ul li a {
	padding: 0 15px;
	text-decoration: underline;
}

.mc_item_wrap.active > ul li a:hover {
	text-decoration: none;
}

.mc_item_wrap_af {
	content: "";
	background-image: url(../img/romb_up.png);
	width: 18px;
	height: 9px;
	position: absolute;
	margin: 16px 0 0 69px;
	display:none;
}

.mc_button_wrap {
	text-align: center;
	margin-top: 30px;
}

article.content {
	background-color: #E9E9E9;
	height: 1000px;
}

article .art_header {
	color: #050505;
	margin-bottom: 10px;
}

.h_descr {
	max-width: 790px;
	font-size: 16px;
	text-align: center;
	margin: auto;
	margin-top: 0;
	color: #050505;
}

.home_items {
	background-color: #D6D6D6;
	padding: 40px 0;
	margin-top: 40px;
}

.hi_item img {
	max-width:100%;
	border-top: 8px solid #AC160A;
}

.hi_item {
	color:#050505;
	font-size: 14px;
	text-align: center;
	font-family: "RobotoRegular";
	margin-bottom: 50px;
}

.s_bottom img {
	max-width: 100%;
}

.s_bottom {
	padding-top: 32px;
	margin-top: 100px;
}

.s_bottom h2 {
	vertical-align: middle;
}

.sb_header h2 {
	margin: 0;
	font-family: "BebasRegular";
	text-transform: uppercase;
	font-size: 36px;
}

.sb_header.cont {
	text-align: right;
}

.sb_content {
	margin-top: 30px;
}

.sb_content p {
	margin-bottom: 0px;
	padding-bottom: 10px;
}

footer {
	background-color: #2A2A2A;
	color: #fff;
	padding: 28px 0 35px 0;
	font-family: "BebasBold";
	font-size: 20px;
}

footer a {
	color: #fff;
}

.bot_mnu ul {
	list-style-type:none;
	margin: 0;
	padding: 0;
}
.bot_mnu li {
	display:inline-block;
	float: left;
}
.bot_mnu a {
	text-decoration: underline;
	padding: 0 10px;
}
.bot_mnu a:hover {
	text-decoration: none;
}

footer h3 {
	margin: 0;
	padding: 0;
}